{{#labs-ui/site-header
  responsiveNav=true
  responsiveSize='medium'
  as |banner|
}}
  {{#banner.title}}
    <a class='site-title'>Labs Map <small class="site-subtitle show-for-medium">Skeleton App</small></a>
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical medium-horizontal">
      <li>{{link-to 'About' 'about'}}</li>
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x has-content-open">

  <div class="search-container">
    {{#labs-search
        searchPlaceholder='Search...'
        onSelect=(action 'handleSearchSelect')
        searchTerms=searchTerms
        typeTitleLookup=(hash
          lot='Addresses')
        onClear=(action (mut geocodedFeature null))
        as |search|}}
        {{#if (eq search.result.type 'lot')}}
          {{fa-icon 'map-pin' fixedWidth=true}}
        {{/if}}
        <span class="dark-gray">{{search.result.label}}</span>
      {{/labs-search}}
      {{bbl-lookup flyTo=(action 'flyTo')}}
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{#labs-map
      id='map'
      initOptions=(hash
        zoom=10
        center=(array -73.96532400540775 40.709710016659386)
        hash=true
      )
      mapLoaded=(action 'handleMapLoad') as |map|
    }}

      {{#map.labs-layers
        layerGroups=model.layerGroups
        as |layers|}}
          {{#layers.tooltip as |tooltip|}}
            {{tooltip-renderer feature=tooltip.feature template=tooltip.layer.tooltipTemplate}}
          {{/layers.tooltip}}
      {{/map.labs-layers}}

      {{#if geocodedFeature}}
        {{#map.source options=geocodedFeature as |source|}}
          {{source.layer layer=geocodedLayer}}
        {{/map.source}}
      {{/if}}
    {{/labs-map}}
  </div>

  <div class="layer-menu cell large-order-1">
    {{#labs-ui/layer-groups-container title='LayerGroup Title'
        mapIsLoading=loadStateTask.isRunning}}
        {{#lookup-layer-group for='subway' as |layerGroup|}}
          {{#labs-ui/layer-group-toggle
            label=layerGroup.model.legend.label
            tooltip=layerGroup.model.legend.tooltip
            icon=layerGroup.model.legend.icon
            active=layerGroup.model.visible
          }}
          {{/labs-ui/layer-group-toggle}}
        {{/lookup-layer-group}}

    {{/labs-ui/layer-groups-container}}

  </div>

  {{outlet}}

</div>
